<div class="row-fluid">
<div class="span4 offset4">
<%= form_for @product, :html => { :multipart => true } do |f| %>
	<% if @product.errors.any? %>
		<div id="error_explanation"＞
			<h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
			<ul>
            <% @product.errors.full_messages.each do |msg| %>
            	<li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
            
    <p><%= f.label :title %><%= f.text_field :title %></p>
            
    <input id="product_photo" name="product[photo]" type="file" style="display:none">
    <p><%= f.label 'Choose Template' %></p>
    <p> <p><%= select_tag 'model[type]', options_for_select({"cup" => "ochoko", "pot" => "tokuri"}) %></p>   </p>
    <p><font id="photoCover" size="3">Select Image file</font></p>
    <p><a class="btn btn-primary btn-large"  style="width: 170px;" onclick="$('input[id=product_photo]').click();">Select Image</a></p>
    <p><%= f.label :editkey %><%= text_field :product, :editkey %><%= button_tag(type: "submit", id: "submitbutton", class: "btn btn-default", :style => "position:absolute; margin:0;") do %>Update</i><% end %></p>
    <p><font color="#f00">Delete</font><%= f.check_box :deleteflag, :style => "position:absolute; margin:2px;" %></p>
<% end %>
<%= link_to 'Back', @product %>
</div>
</div>
<script type="text/javascript">
  $('input[id=product_photo]').change(function () {
    $('#photoCover').text($(this).val());
  });
  $('#submitbutton').click(function () {
    $('#submitbutton').css('display', 'none');
  });
</script>
 