<div class="row-fluid">
  <div class="span8 help_img">
  <h5>Step.1</h5>
    <%= image_tag 'step/step01.jpg' %>
  </div>

  <div class="span4" style="margin-bottom:10px;">
    <button id="english_btn" class="btn">English</button>
    <button id="japanese_btn" class="btn">日本語</button>
  </div>

  <div id="step1" class="span4 help_script">
    <p>click [New Create]</p>
  </div>

</div>

<div class="row-fluid">
  <div class="span8 help_img">
  <h5>Step.2</h5>
    <%= image_tag 'step/step02.jpg' %>
  </div>

  <div id="step2" class="span4 help_script">
  	<p>Type your title (optional)</p>
		<p>Choose your base template</p>
		<p>Select your picture</p>
		<p>Type in your edit key <br>(used to delete or modify)</p>
  </div>

</div>

<div class="row-fluid">
  <div class="span8 help_img">
  <h5>Step.3</h5>
    <%= image_tag 'step/step03.jpg' %>
  </div>

  <div id="step3" class="span4 help_script">
	<p>Click [Create]</p>
  </div>

</div>

<div class="row-fluid">
  <div class="span8 help_img">
  <h5>Step.4</h5>
    <%= image_tag 'step/step04.jpg' %>
  </div>

  <div id="step4" class="span4 help_script">
		<p>Your 3D model will be displayed</p>
		<p>IE is not supported</p>
  </div>

</div>

<div class="row-fluid">
  <div class="span8 help_img">
  <h5>Step.5</h5>
    <%= image_tag 'step/step05.jpg' %>
  </div>

  <div id="step5" class="span4 help_script">
		<p> Like this the download starts</p>
  </div>

</div>

<div class="row-fluid">
  <div class="span8 help_img">
  <h5>Step.6</h5>
  <h2><%= image_tag 'step/step05_01.png'%>Go to <a href="http://en.wikipedia.org/wiki/Fab_lab" target="_blank">FabLab</a></h2>
<iframe width="600" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?ie=UTF8&amp;oe=UTF8&amp;msa=0&amp;msid=217507381704291487812.00044fdbd79d493ad9600&amp;ll=35.004212,135.869105&amp;spn=134.152803,269.371159&amp;t=m&amp;output=embed"></iframe><br /><small>より大きな地図で <a href="https://maps.google.com/maps/ms?ie=UTF8&amp;oe=UTF8&amp;msa=0&amp;msid=217507381704291487812.00044fdbd79d493ad9600&amp;ll=35.004212,135.869105&amp;spn=134.152803,269.371159&amp;t=m&amp;source=embed" style="color:#0000FF;text-align:left">Fab Labs on Earth</a> を表示</small>
  </div>

  <div id="step6" class="span4 help_script">
		<p>Bring your data to FABLAB</p>
		<p>Fablab</p>
		<p>A fab lab (fabrication laboratory) is a small-scale workshop offering (personal) digital fabrication.<br>
		(wiki)
		</p>
	</div>

</div>

<div class="row-fluid">
  <div class="span8 help_img">
  <h5>Step.7</h5>
  <%= image_tag 'step/step06_01.jpg'%>

  </div>

  <div id="step7" class="span4 help_script">
		<p>Print with 3D Printer</p>
  </div>

</div>

<div class="row-fluid">
  <div class="span8 help_img">
  <h5>Step.8</h5>
  <%= image_tag 'step/step06_02.jpg'%>

  </div>

  <div class="span4 help_script">
    <div id="step8"><p><b>Your original cup is made!!</b></p></div>
		<%= link_to 'New Create', new_product_path,  :class => 'btn btn-large btn-success', style: "margin:0; color:#fff;" %>
  </div>

</div>
<script type="text/javascript">
  $(function(){
    $('#english_btn').click(
      function(){
        $('#step1').html('<p>click [New Create]</p>');
        $('#step2').html('<p>Type your title (optional)</p><p>Choose your base template</p><p>Select your picture</p><p>Type in your edit key<br>(used to delete or modify)</p>');
        $('#step3').html('<p>Click [Create]</p>');
        $('#step4').html('<p>Your 3D model will be displayed</p><p>IE is not supported</p>');
        $('#step5').html('<p> Like this the download starts</p>');
        $('#step6').html('<p>Bring your data to FABLAB</p><p>Fablab</p><p>A fab lab (fabrication laboratory) is a small-scale workshop offering (personal) digital fabrication.<br>(wiki)</p>');
        $('#step7').html('<p>Print with 3D Printer</p>');
        $('#step8').html('<p><b>Your original cup is made!!</b></p>');
      }
    );
    $('#japanese_btn').click(
      function(){
        $('#step1').html('<p>「New Create」ボタンをクリック</p>');
        $('#step2').html('<p>タイトルを入力（任意）</p><p>ベースとなる3Dモデルのテンプレートを選択</p><p>画像を選択</p><p>エディットキーを入力<br>（編集、削除の際に使用）</p>');
        $('#step3').html('<p>「Create」ボタンをクリック</p>');
        $('#step4').html('<p>作成されたモデルのプレビュー画面が表示されます。（IEはサポートされていません）</p><p>「Download」ボタンをクリックするとプレビュー画面に表示されているモデルのダウンロードが開始</p>');
        $('#step5').html('<p>Google chrome</p><p>このようにダウンロードが始まります。</p>');
        $('#step6').html('<p>そのファイルを3Dプリンターのある場所へ。</p>');
        $('#step7').html('<p>３Dプリンターで印刷をします。</p>');
        $('#step8').html('<p><p>世界に一つだけのおちょこが完成！！</b></p>');
      }
    );
  });
</script>
