<div id="top" class="row-fluid">
  <div class="jumbotron span3">
  	<p class="lead"><br></p>
    <%= link_to 'New Create', new_product_path,  :class => 'btn btn-large btn-success' %>
  </div>
  <div class="jumbotron span9">
    
  </div>
</div>

<hr>

<div class="row-fluid">
	<h1>Demo Create</h1>
	<div id='demo_box'>
		<div class="span12" style="background-color: #fff;">
    		<%= form_for @product, :url => {:action => 'democreate'} , :html => { :multipart => true } do |f| %>
    			<%= f.text_field :title, value: 'DemoFile', style: "display:none" %>
    			<%= f.text_field :editkey, value: 0, style: "display:none" %>
    			<div style="float:left;">
    				<%= image_tag 'droid_demo.png' %>
    				<br>image
    			</div>
    			<font style="float:left; font-size:60px; line-height:271px">+</font>
    			<div style="float:left;"> 
    				<%= image_tag 'template.png' %>
    				<br>Template
				</div>
    			<font style="float:left; font-size:60px; line-height:271px">=</font>
    			<div style="float:left;">
    				<%= image_tag 'result_demo.png', :class => 'result_demo' %>
    				<br>Result
    			</div>
    			<%= button_tag(type: "submit", class: "btn btn-info btn-large") do %>Execute<% end %>
    		<% end %>
  		</div>
  	</div>
  	<%= link_to 'New Create', new_product_path,  :class => 'btn btn-large btn-success span12', style: "margin:0; color:#fff;" %>
</div>

<hr>

<% @products.each_with_index do |product, i| %>
  <% if i%2 == 0 %>
    <div class="row-fluid">
  <% end %>
    <div class="span6 item_box">
      <div class="item_box_img">
        <center><%= image_tag product.photo.url %></center>
      </div>
    <div class="item_box_child">
      <h2><%= product.title %></h2>
      <%= link_to 'Show', product, :class => 'btn btn-primary', :style=>'color:#ffffff; width: 100px; float:right;' %>
    </div>
    </div>
    <% if i%2==1 || i+1 ==  @products.length %>
    </div>
    <% end %>
<% end %>
<script type="text/javascript">
	$(function(){
		$('.result_demo').hover(
			function(){
				$('.result_demo').attr('src', 'assets/result_demo2.jpg');
			},
			function(){
				$('.result_demo').attr('src', 'assets/result_demo.png');
			}
		);
	});
</script>
