<div class="container">

      <div class="masthead">
        <h3 class="muted">Project name</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Downloads</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <p class="lead"></p>
        <%= link_to 'New Create', new_product_path,  :class => 'btn btn-large btn-success' %>
      </div>

      <hr>

      <!-- Example row of columns -->
      <% @products.each_with_index do |product, i| %>
        <% if i%2 == 0 %>
          <div class="row-fluid">
        <% end %>
            <div class="span6">
              <h2><%= product.title %></h2>
              <p><%= image_tag product.photo.url %></p>
              <p>
                <%= link_to 'Show', product, :class => 'btn' %>
                <%= link_to 'Edit', edit_product_path(product), :class => 'btn' %>
                <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn' %>
              </p>
            </div>
        <% if i%2==1 || i+1 ==  @products.length %>
          </div>
        <% end %>
      <% end %>

      <hr>

      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div>
