<div class="row" style="background-color:#fbfbfb;">
    <div class="span4" style="background-color:#fbfbfb;">
      <h3><font color="#0000ff">Good Image</font></h3>
      <%= image_tag 'droid.png', :style => "width:300px;" %>
	  <p style="text-align: right;">droid.png</p>
      <table style="width:300px;">
        <tr><td><h4>widht : height</h4></td><td><h3><font color="#00f">3 : 1</font></h3></td></tr>
        <tr><td><h4>File Extension</h4></td><td><h3><font color="#00f">PNG</font></h3></td></tr>
      </table>
    </div>
    <div class="span4" style="background-color:#fbfbfb;">
     <%= image_tag 'good_result.jpg', :style => "width:300px;" %>
    </div>    
    <div class="span4">
    <%= form_for @product, :html => { :multipart => true } do |f| %>
      <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
          <ul>
            <% @product.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <p><%= f.label :title %><%= f.text_field :title %></p>
      <p><%= f.label :editkey %><%= f.text_field :editkey %></p>
      <input id="product_photo" name="product[photo]" type="file" style="display:none">
      <p><%= f.label 'Choose Template' %></p>
      <%= select_tag 'model[type]', options_for_select({"Cup" => "ochoko", "Pot" => "tokuri"}) %><br>
      <font id="photoCover" size="4">Select Image file</font>         
      <a class="btn btn-primary btn-large"  style="width: 170px;" onclick="$('input[id=product_photo]').click();">Select Image</a>
      <%= button_tag(type: "submit", id: "submitbutton", class: "btn btn-default ladda-button") do %>create<% end %>
    <% end %>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
      <div class="span4">
        <h3><font color="#ff0000">Bad Image</font></h3>
        <%= image_tag 'droid.jpg' %>
        <p style="text-align: right;">droid.jpg</p>
        <table style="width:300px;">
          <tr><td><h4>File Extension</h4></td><td><h3><font color="#f00">Not 「PNG」</h3></font></td></tr>
        </table>
      </div>
      <div class="span4" style="background-color:#fbfbfb;">
        <%= image_tag 'bad_result.png', :style => "width:300px;" %>
      </div>
  </div>

  <div class="row" style="margin-top: 10px">
    <div class="span4" style="background-color:#fbfbfb; height:200px">
      <h3><font color="#ffa500">Not Good Image</font> </h3>
      <%= image_tag 'bad.png' %>
      <table style="width:300px;">
        <tr><td><h4>widht : height</h4></td><td><h3><font color="#ffa500">Not 3 : 1</font></h3></td></tr>
      </table>
    </div>
    <div class="span4" style="background-color:#fbfbfb;">
      <%= image_tag 'nogood_result.jpg', :style => "width:300px;" %>
    </div>
  </div>
    
<script type="text/javascript">
  $('input[id=product_photo]').change(function () {
    $('#photoCover').text($(this).val());
  });
  $('#submitbutton').click(function () {
    $('#submitbutton').css('display', 'none');
  });
</script>
