<div class="row row-eq-height">
    <div class="col-md-7 col-md-offset-1" style="background-color:#d4d4d4;">
        <canvas id="cv" width="620" height="600" ></canvas>
        <div id="tip" style="display:block; padding:2px; position:absolute; left:20px; bottom:40px; background-color:#ffffff; height:45px; opacity:1;"> 
        Drag mouse to rotate <br> Drag mouse with [Shift pressed] to zoom
        </div>
        <p>This web application do not support the InternetExplorer.</p>
    </div>
    <div class="col-md-3" style="background-color:#f4f4f4;">
        <div class="row">
            <center><h4><%= @product.title %></h4></center>
            <center><%= image_tag @product.image.to_s, :width => "100%" %></center>
        </div>

        <div class="row">
            <center><%= link_to "Download", "/stlFiles/" + (@product.id.to_s) + ".stl", class: "btn btn-info btn-large", style: "width:230px;", download: @product.id.to_s + ".stl" %></center>
        </div>

        <div class="row">
            <div class="col-md-6">
                <%= label_tag 'Model' %>
                <%= color_field "color", "model", :value => "#00ff00", :class => "form-control" %>
            </div>
            <div class="col-md-6">
                <%= label_tag 'Quality' %>
                <%= select :model, :quality, [["High", "high"], ["Medium", "medium"], ["Low", "low"]],
                    {:selected => "medium"}, {:class => "form-control"} %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <%= label_tag 'Back Top' %>
                <%= color_field "color", "back1", :value => "#ffffff", :class => "form-control" %>
            </div>
            <div class="col-md-6">
                <%= label_tag 'Back Bottom' %>
                <%= color_field "color", "back2", :value => "#515151", :class => "form-control" %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-8">
                <%= button_tag "Delete", {:id => "delete", :class => "btn btn-danger"} %>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(function(){
    openByGet();

    $("#color_model").change(function(){
        changeOption("ModelColor", $(this).val());
    });

    $("#color_back1").change(function(){
        changeOption("BackgroundColor1", $(this).val());
    });

    $("#color_back2").change(function(){
        changeOption("BackgroundColor2", $(this).val());
    });

    $("#model_quality").change(function(){
        changeOption("Definition", $(this).val());
    });

    $("#delete").click(function(){
        deleteCode = prompt();
        if(deleteCode){
            $.ajax({
                type: "POST",
                url: "<%= product_path(@product) %>",
                data: "_method=delete&code=" + deleteCode,
                success: function(data){
                    if(data.result){
                        alert("Delete Complete.");
                        location.href = "<%= products_path %>";
                    }else{
                        alert("No match Delete code.");
                    }
                }
            });
        }else{

        }
    });
});

var viewer3d;

function getOptions(){
    var mc = document.getElementById("color_model").value;
    var bc1 = document.getElementById("color_back1").value;
    var bc2 = document.getElementById("color_back2").value;
    var ren = 'Flat';
    var def = document.getElementById("model_quality").value;
    return {ModelColor: mc,
            BackgroundColor1: bc1,
            BackgroundColor2: bc2,
            RenderMode: ren,
            Definition: def};
}

function readSTLfile(opt){
    var canvas = document.getElementById('cv');
    viewer3d = new JSC3D.Viewer(canvas);
    viewer3d.setParameter('SceneUrl', opt.SceneUrl);
    viewer3d.setParameter('InitRotationX', -80);
    viewer3d.setParameter('InitRotationY', 0);
    viewer3d.setParameter('InitRotationZ', 0);
    viewer3d.setParameter('ModelColor', opt.ModelColor);
    viewer3d.setParameter('BackgroundColor1', opt.BackgroundColor1);
    viewer3d.setParameter('BackgroundColor2', opt.BackgroundColor2);
    viewer3d.setParameter('RenderMode', opt.RenderMode);
    viewer3d.setParameter('Definition', opt.Definition);
    viewer3d.init();
    viewer3d.update();
}

function changeOption(strOpt, strValue){
    console.log("change " + strOpt + " to " + strValue);
    viewer3d.setParameter(strOpt, strValue);
    viewer3d.init();
    viewer3d.update();
}

function openByGet(){
    var url = '/stlFiles/<%= @product.id %>.stl';
    var opt = getOptions();
    opt.SceneUrl = url;
    readSTLfile(opt);
}
</script>