<!DOCTYPE html>
<html>
<head>
  <title>OnceTech</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<nav class="navbar navbar-default navbar-fixed-top" style="">
    <div class="navbar-header">
        <a class="navbar-brand" href="/"><%= image_tag "logo.png", :height => "100%" %></a>
    </div>
</nav>
    <div style="height:60px;"></div>
    <%= yield %>
</div>
<footer class="footer">
    <center><p class="text-muted"><a href="https://twitter.com/motikan2010" target="_blank">@motikan2010</a> 2013 - </p></center>
</footer>
</body>
</html>
